.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-left: 0;
}
.header {
  background-image: url('../imgs/Snowy.jpg');
  background-size: cover;
  width: 100%;
  position: absolute;
}

.fade-in {
  position: center;
  top: 0px;
  margin: auto;
}

.fade-in img {
  position: absolute;
  width: 100%;
  background-size: cover;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 120s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 120s;
}

@-webkit-keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}

#f1 {
  -webkit-animation-delay: -140s;
}
#f2 {
  -webkit-animation-delay: -125s;
}
#f3 {
  -webkit-animation-delay: -110s;
}
#f4 {
  -webkit-animation-delay: -95s;
}
#f5 {
  -webkit-animation-delay: -80s;
}
#f6 {
  -webkit-animation-delay: -40s;
}
#f7 {
  -webkit-animation-delay: -20s;
}

audio, canvas, progress, video {
  position: absolute;
  top: 650px;
  left: 450px;
  }
