.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-left: 0;
}
.header {
  background-image: url('../imgs/Snowy.jpg');
  background-size: cover;
  width: 100%;
  min-height: 720px;
}

.fade-in {
  position: center;
  top: 0px;
  margin: auto;
}
.fade-in img {
  position:absolute;
  width: 100%;
  background-size: cover;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 60s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 60s;
}

@-webkit-keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes fade {
  0% {opacity: 0;}
  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}

#f1 {
  -webkit-animation-delay: -40s;
}
#f2 {
  -webkit-animation-delay: -30s;
}
#f3 {
  -webkit-animation-delay: -20s;
}

/*#playlist,audio {
  background: #666;
  width: 400px;
  padding: 20px;
}

.active a {
  color: #5DB0E6;
  text-decoration: none;
}

li a {
  color: #eeeedd;
  background: #333;
  padding: 5px;display:block;}

li a:hover {
  text-decoration: none;
}
*/
